{% extends "base.html" %}
{% block content %}
  {% from "_render_field.html" import render_field_lr %}

  <div class="content-section" align="center">
    <div class="card d-inline-flex p-2 bd-highlight">
      <div class="media">
        <img src="{{user_img}}" class="rounded-circle account-img" alt="Profile-image">
        <div class="card-body">
            <h5 class="card-title">{{ current_user.username }}</h5>
            <mark><em class="card-title text-muted">{{ current_user.email }}</em></mark>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}