{% extends "base.html" %}
{% block main %}
  {% from "_render_field.html" import render_field_lr %}
  <div class="content-section form-control pb-2 " style="margin:auto;width:35%">
    <form method="POST" action="{{ url_for('user_bp_in.register') }}" class="pt-1 pb-3" >

      {{form.csrf_token}}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Реєстрація</legend>
        {{ render_field_lr(form.username) }}
        {{ render_field_lr(form.email) }}
        {{ render_field_lr(form.password) }}
        {{ render_field_lr(form.confirm_password) }}
      </fieldset>
      <div class="form-group pt-4 pb-2">
        {{ form.submit(class="btn btn-outline-secondary") }}
      </div>

    </form>
    <div class="border-top pt-2">
      <small class="text-muted">
        Уже є аккаунт? <a class="ml-2" href="{{ url_for('user_bp_in.login') }}">Увійти</a>
      </small>
     </div>
  </div>
{% endblock main %}
