{% extends "base.html" %}
{% block main %}
  {% from "_render_field.html" import render_field_lr %}
  <div class="content-section form-control pb-2 short-form">

    <form method="post" enctype="multipart/form-data" class="pt-1 pb-2">
      {{form.csrf_token}}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Запит на скидання паролю</legend>

        {{ render_field_lr(form.email) }}

      </fieldset>
        <div class="form-group pt-2 pb-2">
          {{ form.submit(class="btn btn-outline-secondary") }}
        </div>

    </form>
  </div>
{% endblock main %}