.title-link a {
    color: black !important;
    text-decoration: none;
}

.title-link:hover {
  color: silver !important;
}

body {
  background-color: #f5f5f5; !important;
}

.btn-outline-secondary:hover{
     background: #708090; !important;
}

.article-section {
  background: white;
  padding: 10px 20px;
  border: 2px solid #7E7C73;
  border-radius: 5px;
  margin-bottom: 20px;
}

a.author-name{
  color: #7E7C73;
  text-decoration: none;
  margin-right: 2px;
}

a.author-name:hover{
  color: #BBC4C2;
}

a.article-title{
  font-size: 25px;
  color: #464033;
  text-decoration: none;
}

a.article-title:hover {
  color: #7E7C73;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 3px;
  border-bottom: 1px solid #e3e3e3;
}

.profile-img{
  height: 150px;
  width: 150px;
  border: 1px solid #7E7C73;
}


.post-section {
  background: white;
  border: 2px solid #7E7C73;
  border-radius: 5px;
  margin-bottom: 20px;
}


.post-author-img {
  height: 35px;
  width: 35px;
  margin-right: 3px;
  border: 1px solid #7E7C73;
}

a.post-author-name{
  font-size: 20px;
  color: #171717;
  text-decoration: none;
  margin-right: 2px;
}

a.post-author-name:hover{
  color: #454545;
}

a.post-created-at{
  font-size: 12px;
  text-decoration: none;
  margin-right: 2px;
}

.align-left{
float:left;
}

.align-right{
float:right;
}

.author-img {
  height: 65px;
  width: 65px;
  border: 2px solid #7E7C73;
}

.light-silver-bg {
    background: #f8f8ff;
}