{% extends "base.html" %}
{% block main %}
  {% from "_render_field.html" import render_post_item, pagination_block_id, render_sorting_menu_id  %}

  <div class="card p-2" style="margin:auto;width:60%">
      <legend class="border-bottom mb-4" align="center">Категорія
        <b class="text-uppercase">{{posts.items[0].category_br.name}}
          {% if posts.items[0] %}
            ({{posts.items[0].total_posts_by_category(posts.items[0].category_br.id)}})
          {% endif %}
        </b>
      </legend>


      {{ render_sorting_menu_id(posts.items[0].category_br.id) }}
        {% for post in posts.items %}
           {{ render_post_item(post) }}
        {% endfor %}
      {{ pagination_block_id(posts.items[0].category_br.id, posts, sort_by) }}
  </div>
{% endblock main %}