{% extends "base.html" %}
{% block main %}
<article class="media article-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="author-name" href="#"> {{user.username}}</a>
        <small class="text-muted">{{post.created_at}} </small>
      </div>
      <h2><a class="article-title" href="#"> {{post.title}} </a></h2>
      <p class="article-content"> {{post.content|safe}} </p>
    </div>
    {% if current_user.id == post.user_id %}
        <a href="{{url_for('blog_bp_in.post_update', post_id=post.id)}}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Редагувати</a>
        <a href="{{url_for('blog_bp_in.post_delete', post_id=post.id)}}" class="btn  btn-danger fs-5"> Видалити </a>
    {% endif %}
  </article>
{% endblock main %}

