{% extends "base.html" %}
{% block main %}

  <div class="card mb-3 post-section" style="overflow:auto;margin:auto;width:70%">
    <div class="card-header light-silver-bg">
      {% if current_user.id == post.user_id %}
        <div class="align-left">
          <a href="{{url_for('blog_bp_in.post_update', post_id=post.id)}}" class="btn btn-secondary ml-4 btn-sm" role="button" data-bs-toggle="tooltip" title="Редагувати"><i class="bi bi-pencil-square"></i></a>&nbsp;
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Видалити"><i class="bi bi-trash-fill"></i></button>
        </div>
      {% endif %}
      <h3 class="text-center mb-0">{{post.title}}</h3>
        <div class="align-left">
          <a href="{{ url_for('blog_bp_in.rate_action', post_id=post.id, action='like') }}" id='like-btn' class="bi" data-toggle="tooltip" title="">{{post.total_likes()}}</a>
          <a href="{{ url_for('blog_bp_in.rate_action', post_id=post.id, action='dislike') }}" id='dislike-btn' class="bi">{{post.total_dislikes()}}</a>
          <div class="progress" style="height: 2px;">
            <div id='likes-percentage' class="progress-bar" role="progressbar" style="background-color:#212529;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      <div class="align-right mb-0">
        <small class="text-muted fst-italic">{{post.created_at}}</small>
      </div>
    </div>
    <div class="card-body text-dark ">
      <div class="card-text text-break">{{post.content|safe}}</div>
    </div>
    <div class="card-footer light-silver-bg">
      <img src="{{url_for('static',filename='profile_pictures/' + post.user_br.picture)}}" class="rounded-circle post-author-img" alt="author-image">
      <a class="post-author-name" href="{{url_for('blog_bp_in.user_posts', user_id=post.user_br.id)}}"> {{post.user_br.username}}</a>&nbsp;&nbsp;
      <a href="#" class="link-dark">#{{ post.category_br.name }}</a>
    </div>
  </div>


  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Підтвердження</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ви впевнені, що хочете видалити цю публікацію?
        </div>
        <div class="modal-footer">
          {% if current_user.id == post.user_id %}
            <a href="{{url_for('blog_bp_in.post_delete', post_id=post.id)}}" class="btn btn-danger"> Так, видалити </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    // якщо поточний користувач не авторизований або ж даний пост у нього не оцінений
    {% if not current_user.is_authenticated or current_user.is_rated_post(post) == false %}
      // то виводимо 'неактивні' кнопки
      $("#like-btn").addClass('bi-hand-thumbs-up').prop('title', 'Мені подобається');
      $("#dislike-btn").addClass('bi-hand-thumbs-down').prop('title', 'Мені не подобається');
      // якщо користувач - автор даного поста - отже він не може оцінювати його - робимо кнопки неклікабельними
      {% if current_user.id == post.user_id %}
        console.log('ELIF');
        $("#like-btn").addClass('bi-hand-thumbs-up').prop('title', 'Мені подобається').click(function(evt){evt.preventDefault();});
        $("#dislike-btn").addClass('bi-hand-thumbs-down').prop('title', 'Мені не подобається').click(function(evt){evt.preventDefault();});
      {% endif %}

    // якщо користувач авторизований, і даний пост у нього вже є оцінений, то
    {% else %}
      // робимо відповідну кнопку активною, а іншу позначаємо як неактивну
      {% if current_user.get_rate_status(post) == true %}
        $("#like-btn").addClass('bi-hand-thumbs-up-fill').prop('title', 'Більше не подобається');
        $("#dislike-btn").addClass('bi-hand-thumbs-down').prop('title', 'Мені не подобається');
      {% else %}
        $("#like-btn").addClass('bi-hand-thumbs-up').prop('title', 'Мені подобається');
        $("#dislike-btn").addClass('bi-hand-thumbs-down-fill').prop('title', 'Мені не подобається');
      {% endif %}

    {% endif %}

    $("#likes-percentage").attr("style", "width:{{post.get_like_percentage()}}%; background-color:#212529;");
  });
</script>
{% endblock main %}


