{% extends "base.html" %}
{% block main %}
  {% from "_render_field.html" import render_field_lr, render_editor_field %}
  <div class="content-section form-control pb-2" style="margin:auto;width:65%">

    <form method="post" enctype="multipart/form-data" class="pt-1 pb-2">
      {{form.csrf_token}}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Оновити публікацію</legend>

        {{ render_field_lr(form.category) }}
        {{ render_field_lr(form.title) }}
        {{ render_editor_field(form.content) }}

      </fieldset>

      <div class="form-group pt-2 pb-2">
        {{ form.submit(class="btn btn-outline-secondary") }}
      </div>
    </form>
  </div>
<script>
   $(document).ready(function() {
     $('#editor').summernote({
       toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'italic', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['help']],
        ],
        maximumImageFileSize: 358400, // 350 KB
        height: 300
      });
   });
</script>
{% endblock main %}

