{% extends "base.html" %}
{% block main %}
  {% from "_render_field.html" import render_post_item, pagination_block_id, render_sorting_menu_id  %}

  <div class="default-posts-list">
    <div align="center">
      <img src="{{url_for('static',filename='profile_pictures/' + user.picture)}}" class="rounded-circle author-img" alt="author-image">
      <legend class="border-bottom mb-4"> <h3>{{user.username}}</h3>
        <p>
          <small class="text-muted"><i class="bi bi-card-heading" title="Загальна кількість публікацій"></i> {{user.get_statistic()['posts_num'] }}</small>
          <small class="text-muted"><i class="bi bi-hand-thumbs-up" title="Кількість лайків"></i> {{ user.get_statistic()['likes'] }}</small>
          <small class="text-muted"><i class="bi bi-hand-thumbs-down" title="Кількість дизлайків"></i> {{ user.get_statistic()['dislikes'] }}</small>
          <small class="text-muted"><i class="bi bi-chat-right-dots" title="Кількість коментарів"></i> {{ user.get_statistic()['comments'] }}</small>
        </p>
      </legend>
    </div>

     {{ render_sorting_menu_id(posts.items[0].user_br.id) }}
        {% for post in posts.items %}
           {{ render_post_item(post) }}
        {% endfor %}
      {{ pagination_block_id(posts.items[0].user_br.id, posts, sort_by) }}
  </div>

{% endblock main %}