{% macro render_field(field)%}

  <fieldset class="form-field" style="width:50%;">
    <div class="form_label">{{ field.label }}</div>
      {{ field(**kwargs) | safe }}
  </fieldset>
      {%if field.errors%}
        <div class="error_form">
          {%for error in field.errors%}
          {{error}}
          {%endfor%}
        </div>
      {%endif%}

{% endmacro %}


{% macro render_field_lr(field) %}
  <div class="form-group" style="size:35%;">
    <div class="form-control-label">
      {{ field.label }}
    </div>

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
     {% else %}
      <div class="form-control">
        {{ field }}
      </div>
    {% endif %}
  </div>
{% endmacro %}