{% macro render_field_lr(field) %}
  <div class="form-group" style="size:35%">
    <div class="form-control-label">
      {{ field.label }}
    </div>

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control") }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_editor_field(field) %}
  <div class="form-group" style="size:35%">
    <div class="form-control-label">
      {{ field.label }}
    </div>

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control", id="editor") }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control", id="editor") }}
    {% endif %}
  </div>
{% endmacro %}


{% macro render_post_item(post) %}
    <article class="media article-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="author-name" href="{{url_for('blog_bp_in.user_posts', user_id=post.user_br.id)}}">
          {{ post.user_br.username }}
        </a><small class="text-muted">|</small>
        <a href="{{url_for('blog_bp_in.posts_by_category', category_id=post.category_br.id)}}">
          <small class="link-dark">#{{ post.category_br.name }}</small>
        </a><small class="text-muted">|</small>
        <small class="text-muted">
          {{ post.created_at.strftime('%d-%m-%Y')  }}
        </small>
      </div>
      <h2><a class="article-title" href="{{url_for('blog_bp_in.post_view', post_id=post.id)}}"> {{ post.title }} </a></h2>
      <!-- <p class="article-content"> *зміст публікації* </p> -->
    </div>
  </article>
{% endmacro %}

