    <div class="card" style="width: 40rem;">
      <img src="https://static.turbosquid.com/Preview/2019/08/01__08_55_55/Samsung_Notebook7_2019_13inch_00.jpgA0E07B83-D533-4243-A5AB-9E9394E895D7Large.jpg" class="card-img-top" alt="laptop">
      <div class="card-body">
        <h5 class="card-title">Неймовірна новинка від Samsung</h5>
        <p class="card-text">Короткий опис огляду. Короткий опис огляду. Короткий опис огляду. Короткий опис огляду. Короткий опис огляду. Короткий опис огляду. Короткий опис огляду. Короткий опис огляду.</p>
        <a href="#" class="link-dark">Переглянути</a>
      </div>
    </div>